<?xml version="1.0"?>
<robot name="/home/diogo/ros_workspaces/rihibot_ws/src/robots/rihibot/rihibot_description/urdf/from_webots.urdf" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link">
  </link>
  <link name="camera">
  </link>
  <joint name="base_link_camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera"/>
    <origin xyz="0 0 0" rpy="0.063814 -1.570794 1.506984"/>
  </joint>
</robot>
