<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg robot_model)_robot">

   <!-- import main macro -->
   <xacro:include filename="$(find rihibot_description)/urdf/inc/ur_macro.xacro"/>

   <!-- parameters -->
   <xacro:arg name="joint_limit_params" default=""/>
   <xacro:arg name="kinematics_params" default=""/>
   <xacro:arg name="physical_params" default=""/>
   <xacro:arg name="visual_params" default=""/>
   <!-- legal values:
         - hardware_interface/PositionJointInterface
         - hardware_interface/VelocityJointInterface
         - hardware_interface/EffortJointInterface
   -->
   <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
   <xacro:arg name="safety_limits" default="false"/>
   <xacro:arg name="safety_pos_margin" default="0.15"/>
   <xacro:arg name="safety_k_position" default="20"/>

   <!-- arm -->
   <xacro:ur_robot
     prefix=""
     joint_limits_parameters_file="$(arg joint_limit_params)"
     kinematics_parameters_file="$(arg kinematics_params)"
     physical_parameters_file="$(arg physical_params)"
     visual_parameters_file="$(arg visual_params)"
     transmission_hw_interface="$(arg transmission_hw_interface)"
     safety_limits="$(arg safety_limits)"
     safety_pos_margin="$(arg safety_pos_margin)"
     safety_k_position="$(arg safety_k_position)"/>

  <link name="hand_rgb_link">
</link>
  <joint name="tool0_hand_rgb_link_joint" type="fixed">
    <parent link="tool0"/>
    <child link="hand_rgb_link"/>
    <origin rpy="-${pi/2} -${pi/2} 0" xyz="0 0 0"/>
  </joint>
  <link name="hand_rgb_optical_frame">
</link>
  <joint name="hand_rgb_link_hand_rgb_optical_frame_joint" type="fixed">
    <parent link="hand_rgb_link"/>
    <child link="hand_rgb_optical_frame"/>
    <origin rpy="-1.570801 0.000006 -1.570798" xyz="0 0 0"/>
  </joint>
  <link name="gyro">
</link>
  <joint name="tool0_gyro_joint" type="fixed">
    <parent link="tool0"/>
    <child link="gyro"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  <link name="accelerometer">
</link>
  <joint name="tool0_accelerometer_joint" type="fixed">
    <parent link="tool0"/>
    <child link="accelerometer"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

</robot>
