<?xml version="1.0"?>

<launch>
  <!-- start Webots -->
  <arg name="no_gui" default="false," doc="Start Webots with minimal GUI"/>
  <include file="$(find rihibot_webots)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="no_gui" value="$(arg no_gui)"/>
    <arg name="world" value="$(find rihibot_webots)/worlds/rihibot.wbt"/>
  </include>

  <arg name="auto_close" default="false" doc="Startup mode"/>
  <env name="LD_LIBRARY_PATH" value="$(env LD_LIBRARY_PATH):$(env WEBOTS_HOME)/lib/controller"/>
  <env name="PYTHONPATH" value="$(env PYTHONPATH):$(env WEBOTS_HOME)/lib/controller/python"/>

  <node name="imu_data_handler" pkg="rihibot_bringup" type="imu_data_handler.py" required="$(arg auto_close)"/>
  <node name="hand_rgb_data_handler" pkg="rihibot_bringup" type="hand_rgb_data_handler.py" required="$(arg auto_close)"/>
  <node name="ur5e_controller" pkg="rihibot_bringup" type="ur5e_control.py" required="$(arg auto_close)"/>
  <node name="clock_and_joints_publisher" pkg="rihibot_bringup" type="clock_and_joints_publisher.py" required="$(arg auto_close)"/>


  <!-- Publish robot_state from URDF -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find rihibot_description)/urdf/ur5e.urdf'" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

 </launch>