<?xml version="1.0"?>

<launch>
  <!-- start Webots -->
  <arg name="no_gui" default="false," doc="Start Webots with minimal GUI"/>
  <include file="$(find rihibot_webots)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="no_gui" value="$(arg no_gui)"/>
    <arg name="world" value="$(find rihibot_webots)/worlds/rihibot_chessboard.wbt"/>
  </include>

  <include file="$(find rihibot_description)/launch/ur10e.launch"/>
  
  <param name="/use_sim_time" value="true"/>
  <arg name="auto_close" default="false" doc="Startup mode"/>
  <env name="LD_LIBRARY_PATH" value="$(env LD_LIBRARY_PATH):$(env WEBOTS_HOME)/lib/controller"/>
  <env name="PYTHONPATH" value="$(env PYTHONPATH):$(env WEBOTS_HOME)/lib/controller/python"/>

  <node name="imu_data_handler" pkg="rihibot_bringup" type="imu_data_handler.py" required="$(arg auto_close)"/>
  <node name="hand_rgb_data_handler" pkg="rihibot_bringup" type="hand_rgb_data_handler.py" required="$(arg auto_close)"/>
  <!-- <node name="joints_republisher" pkg="rihibot_bringup" type="joints_publisher.py" required="$(arg auto_close)"/> -->

  <!-- <include file="$(find ur_e_webots)/launch/ur10e_joint_limited.launch"/>
  <include file="$(find ur10e_moveit_config)/launch/moveit_planning_execution.launch"/>
   -->

  <!-- <arg name="prefix" default="" doc="Prefix to robot's joints' and links' names" /> -->
  <!-- <include file="$(find ur_e_webots)/launch/ur10e.launch"> -->
    <!-- <arg name="limited" value="true"/> -->
    <!-- <arg name="prefix" value="$(arg prefix)"/> -->
  <!-- </include> -->

</launch>